In [ ]:
import pandas as pd
import csv
import re
import os
import sys

In [ ]:
df_small=pd.read_csv('./dna/databases/small.csv')
df_small.head()

In [13]:
def hallar_ADN():
    n=int(input('Secuencia: '))
    secuencia_n=open('./dna/sequences/'+str(n)+'.txt')
    with open('./dna/sequences/'+str(n)+'.txt','r') as secuencia_n:
        for linea in secuencia_n:
            linea
    ADN=linea
    return ADN
#hallar_ADN()

In [ ]:
def patron_small():    
    ADN=hallar_ADN()
    p_1=re.findall('AGATC',ADN)
    p_2=re.findall('AATG',ADN)
    p_3=re.findall('TATC',ADN)
    for x in df_small['AGATC'].unique():
        for y in df_small['AATG'].unique():
            for z in df_small['TATC'].unique():
                if x==len(p_1) and y==len(p_2) and z==len(p_3):
                    if x==2 and y==8 and z==3:
                        return 'Alice'
                    elif x==4 and y==1 and z==5:
                        return 'Bob'
                    elif x==3 and y==2 and z==5:
                        return 'Charlie'
    return 'No Match'
patron_small()

In [11]:
df_large=pd.read_csv('./dna/databases/large.csv')
df_large.head()

     name  AGATC  TTTTTTCT  AATG  TCTAG  GATA  TATC  GAAA  TCTG
0   Albus     15        49    38      5    14    44    14    12
1  Cedric     31        21    41     28    30     9    36    44
2   Draco      9        13     8     26    15    25    41    39
3    Fred     37        40    10      6     5    10    28     8
4   Ginny     37        47    10     23     5    48    28    23

In [12]:
def count(cont, cadena):
    patron = rf'({cont})\1*'
    patron_general = re.compile(patron)
    pareja = [pareja for pareja in patron_general.finditer(cadena)]
    maximo = 0
    for x in range(len(pareja)):
        if pareja[x].group().count(cont) > maximo:
            maximo = pareja[x].group().count(cont)
    return maximo

def patron_large():    
    ADN=hallar_ADN()
    with open('./dna/databases/large.csv', 'r') as archivo_csv:
        lector = csv.DictReader(archivo_csv)
        diccionario = list(lector)
    
    AGATC = count("AGATC", ADN)
    TTTTTTCT = count("TTTTTTCT", ADN)
    TCTAG = count("TCTAG", ADN)
    AATG = count("AATG", ADN)
    GATA = count("GATA", ADN)
    TATC = count("TATC", ADN)
    GAAA = count("GAAA", ADN)
    TCTG = count("TCTG", ADN)

    for i in range(len(diccionario)):
        if all([diccionario[i]["AGATC"] == str(AGATC), diccionario[i]["TTTTTTCT"] == str(TTTTTTCT), diccionario[i]["TCTAG"] == str(TCTAG), diccionario[i]["AATG"] == str(AATG), diccionario[i]["GATA"] == str(GATA), diccionario[i]["TATC"]== str(TATC), diccionario[i]["GAAA"] == str(GAAA), diccionario[i]["TCTG"] == str(TCTG)]):
            name = diccionario[i]["name"]
            break
        else:
            name = "No match"
    return name
patron_large()

'Harry'